.search-container {
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-container h1 {
    text-align: center;
}

.search-container p {
    margin-top: 30px;
}

.search-container input {
    padding: 10px;
    margin: 20px 0;
}

.search-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-inputs button {
    padding: 10px 20px;
    background-color:  #2a75bb;
    color: #fff;
    font-weight: bold;
    border: 2px solid  #2a75bb;
    border-radius: 5px;
}

.search-inputs button:hover {
    background-color: #3c5aa6;
    border: 2px solid #3c5aa6;
    cursor: pointer;
}