nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 0, 0);
    align-items: center;
}

nav img {
    width: 50px;
    margin: 10px;
}

nav img:hover {
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-buttons .links {
    margin: 20px 10px;
    color: #000;
    text-decoration: none;
}

.nav-buttons .links:hover {
    color: #fff;
    cursor: pointer;
}